<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--运行环境：Dev（开发）、Alpha（测试）、Online（生产）-->
    <add key="Environment" value="Alpha" />

    <add key="yhAzure.SuperToken" value="TURRPU1RPT1zTVVqVmpYSG5UVGhwQWx0OVV5WnJRdGcwWnMrWGJMdUlOSWphWStTT1Y0PQ==" />
    <add key="yhAzure.Authenticate.Base.Service" value="http://api.sandbox.yhsms.com.cn/UserAccount/Base/BaseService.svc" />
    <add key="yhAzure.Authenticate.User.Service" value="http://api.sandbox.yhsms.com.cn/UserAccount/User/UserService.svc" />
    <add key="yhAzure.Authenticate.Account.Service" value="http://api.sandbox.yhsms.com.cn/UserAccount/Account/AccountService.svc" />
    <add key="yhAzure.Authenticate.Bonus.Service" value="http://api.sandbox.yhsms.com.cn/UserAccount/Bonus/BonusService.svc" />
    <add key="yhAzure.Product.Service" value="http://api.product.sandbox.yhsms.com.cn/Product/ProductService.svc" />

    <add key="yhAzure.MessageQueue.Server" value="tcp://111.202.122.117:6666" />
    <add key="yhAzure.MessageQueue.UserName" value="yhAzure.UserAccount.Service" />
    <add key="yhAzure.MessageQueue.Password" value="9Fm2K6XUwc-Uf5PkfJoO729ndHnEcAqR" />
  </appSettings>  
</configuration>