<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="enyim.com">
            <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
        </sectionGroup>
    </configSections>
    <appSettings>
        <!--运行环境：Dev（开发）、Test（测试）、Online（生产）-->
        <add key="Environment" value="Dev"/>
    </appSettings>
    <connectionStrings>
        <add name="conn" connectionString="server=WIN-6OIJFRVD95B;database=D_Log;uid=sa;pwd=123456;" providerName="System.Data.SqlClient"/>
        <add name="ConnString" connectionString="server=192.168.1.130;database=DB_Log;User Id=sa;password=123456;connection reset=false;connection lifetime=5;min pool size=1;max pool size=5;" providerName="System.Data.SqlClient"/>
    </connectionStrings>

    <enyim.com>
        <memcached>
            <servers>
                <!-- put your own server(s) here-->
                <add address="192.168.1.122" port="11211"/>
                <!--<add address="182.92.72.233" port="11211" />-->
            </servers>
            <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00"/>
        </memcached>
    </enyim.com>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
