<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultConnection" value="Data Source=127.0.0.1,2000;Initial Catalog=ZXG_User;User ID=sa;Password=9999$9999;"  />
    <add key="path" value="D:\"  />
    <add key="namespace" value="ZXG.DataModel"  />
  </appSettings>
</configuration>